<h1>
    Update StoredCreditCards.xml
</h1>
<form method="post">
    <div>
        Contents:<br>
        <textarea name="contents" rows="2" cols="20" class="blogCreateContents"></textarea>
    </div>
    <br>
    <a href="javascript:history.go(-1)" style="float: left;">Cancel</a>
    <input type="submit" value="Submit" style="float: right;">
    <br>
</form>